<%= form_with(model: @sku, local: true) do |form| %>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :part_number %>
    <%= form.text_field :part_number %>
  </div>

  <div>
    <%= form.label :qty %>
    <%= form.text_field :qty %>
  </div>

  <div>
    <%= form.label :locations, "Ubicaciones" %>
    <%= form.collection_select :location_ids, Location.all, :id, :location, {}, { multiple: true } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>